html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.item{
    width: 50vw;
    height: auto;
    margin: auto;
}

.btn{
    border-radius: 1.2rem;
    border: .3rem outset #888;
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .4rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(160deg, #666, #444);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: 0.2s;
    margin: 1rem auto;
}

.input{
    border-radius: 1.2rem;
    border: .3rem outset #888;
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: #eee;
    /* text-transform: uppercase; */
    letter-spacing: .4rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(160deg, #666, #444);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: 0.2s;
    margin: 1rem auto;
}

img{
    width: 100%;
    height: auto;
    filter:contrast(0);
    image-rendering: pixelated;
    transition: filter 2s;
}