html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
  }
h1{
    font-size: 50rem;
}
.box{
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 80vw;
    height: auto;
    /* background-image: url("https://media1.tenor.com/m/Spmi9HLHEz0AAAAd/despite-all-my-rage.gif");
    background-size: cover; */
}

.box2{
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    width: 80vw;
    height: auto;
    background-image: url("https://media1.tenor.com/m/Spmi9HLHEz0AAAAd/despite-all-my-rage.gif");
    background-size: cover;
}

.item{
    /* open session chat 😡😡😡😡😡😡 */
    width: 50%;
    height: auto;
    margin: auto;
}

.btn{
    border-radius: 1.2rem;
    border: .3rem outset #888;
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .4rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(160deg, #666, #444);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: 0.2s;
    margin: 1rem auto;
}

.batmen{
    /* can you make your own input (this isn't even an input) css instead of stealing a button */
    border-radius: 1.2rem;
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .4rem;
    overflow: hidden;
    font-family: verdana;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(160deg, rgb(183, 178, 228), rgb(4, 56, 230));
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    margin: 1rem auto;
}

.input{
    border-radius: 1.2rem;
    border: .3rem outset #888;
    position: relative;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: #eee;
    text-transform: uppercase; 
    letter-spacing: .4rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    background: linear-gradient(160deg, #666, #444);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    transition: 0.2s;
    margin: 1rem auto;
}

.img{
    width: 100%;
    height: auto;
    filter:contrast(0);
    image-rendering: pixelated;
    transition: filter 2s;
}

.imgsee{
    width: 100%;
    height: auto;
    filter:contrast(1);
    image-rendering: pixelated;
    transition: filter 2s;
}