.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.item{
    width: 50vw;
    height: auto;
}

img{
    width: 100%;
    height: auto;
    filter:contrast(0);
    image-rendering: pixelated;
    transition: filter 2s;
}