.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item{
    width: 50vw;
    height: auto;
}

img{
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}